---
---
<!DOCTYPE html>
	<html>
		<head>
			<!-- Meta tags -->
			<meta name="title" content="Sylvain Zircher - Data, Insights & Automation">
			<meta name="description" content="Tips, tools and resources for getting fast insight from your data and automating your work">
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-TDZZP0KQGC"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'G-TDZZP0KQGC');
			</script>			
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
			<!-- CDN for Awesome Font -->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
			<!-- JQuery -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<!-- JQuery UI -->
			<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" /> 	
			<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
			<!-- JS -->
			<script src="{{ '/assets/js/MobileNav.js' | relative_url }}"></script>
			<!-- Meta Tag -->
			<meta name=”viewport” content=”width=device-width,initial-scale=1″>
		</head>

		<body>
			{% include header.html %}
			{% include statement.html %}
			{% include content-homepage.html %}
			{% include footer.html %}
		</body>
	</html>