<!--
<style>
	.statement {
	    background-image: url({{ '/assets/img/hero-img/lead-image4.png' | relative_url }});
	}
</style>
-->
<section class = "statement">
	<div class = "statementWrapper">
		<h1>Tips, tools and resources for getting <b>better insights</b> from your data <b>faster</b> and <b>automating</b> your work</h1>
		<!-- <img src= "{{ '/assets/img/hero-img/lead-image4.png' | relative_url }}" alt="Tips, tools and resources for getting better insights from data">-->
	</div>
</section>