/**
 * About Me
 */

.aboutme {
	width: $blogDesktopWidth;
	margin: 0 auto;
}

.aboutme img {
	display: block;
	width: 300px;
	margin: 0 auto;
	margin-top: 50px;
}

.aboutme h1 {
	color: black;
	font-weight: 100; 
	font-size: 26px;
	padding-top: 50px;
	margin-top: 25px;
	font-family: $font;
}

.aboutme p {
	font-weight: 100;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 18px;
    line-height: 36px;
    text-align: justify;
    color: $textColor;	
}

.aboutmeclosingstatement {
	margin-bottom: 100px;	
}


@media only screen and (max-width: 840px),  only screen and (max-device-width: 840px) {
  .aboutme, .aboutme p {
  	width: $websiteDesktopWidth;
    margin: 0 auto;
  }

  .aboutme {
    height: auto;
  }

  .aboutme p {
    margin-bottom: 25px;
    margin-top: 25px;
  }

}

@media only screen and (max-device-width: 480px) {
  .aboutme, .aboutme p {
    width: $websiteMobileWidth;
    margin: 0 auto;
  }	
	.aboutme p {
    	font-size: $mobileParagraphFontSize;
    	line-height: 5vw;
	    margin-bottom: $mobileParagraphMargin;
	    margin-top: $mobileParagraphMargin;
  	}
  	.aboutme h1 {
  		font-size: $mobileTitleFontSize;
  	}
}