/**
 * Site Footer
 */

.site-footer { 
  background-color: $footerBackground;  
  width: 100%;
}

.site-footer-content-wrapper {
  width: $websiteDesktopWidth;
  margin: 0 auto;  
}

@media only screen and (max-width: 840px),  only screen and (max-device-width: 840px) {
  .site-footer-content-wrapper {
    width: $websiteMobileWidth;
    margin: 0 auto;
  }
}

.site-footer-content-wrapper p {
  font-size: $mobileFooterFontSize;
  color: $footerText;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
}

@media only screen and (max-device-width: 480px) {
.site-footer-content-wrapper p {
    font-size: $mobileFooterFontSize;
  }
}