/**
 * Site Footer
 */

.site-footer { 
  background-color: $footerBackground;  
  width: 100%;
}

.site-footer-content-wrapper {
  width: $websiteDesktopWidth;
  margin: 0 auto;  
}

.site-footer-content-wrapper p {
  font-size: $mobileFooterFontSize;
  color: $footerText;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}