/**
 * Social Sharing Bar
 */

.share-bar {
  width: $websiteDesktopWidth;
  margin: 0 auto;
  margin-top: $desktopParagraphMargin;
  margin-bottom: $desktopParagraphMargin;
}

.share-bar h4 {
  color: $textColor;
  font-weight: 300;
  font-size: $desktopParagraphFontSize;
  display: inline-block;
  margin-right: $desktopParagraphMargin;
  margin-bottom: 2rem;
}

.share-buttons {
  display: inline-block;
}

.share-buttons a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;    
  display: inline-block;
  border-radius: 50%;
  font-size: $desktopParagraphFontSize;   
  border-radius: 50%;
  opacity: 0.75;
  transition: opacity 0.15s linear;
}

.share-buttons a:hover {
  opacity: 1;
}

.facebook {
  background: #3b5998;
}

.twitter {
    background: #55acee;
}

.email {
    background: $headerBackground;
}

.linkedin {
    background: #0077b5;
}