/**
 * Social Sharing Bar
 */

.share-bar {
  width: $blogDesktopWidth;
  margin: 0 auto;
  margin-bottom: 50px;
}

.share-bar h4 {
  color: $textColor;
  font-weight: 300;
  font-size: 16px;
  display: inline-block;
  margin-right: 50px;
}

.share-buttons {
	display: inline-block;
}

.share-buttons a {
	color: white;
	margin-left: 20px;
	text-decoration: none;
  text-align: center;
	width: 30px;
  height: 30px;
	line-height: 30px;  	
  display: inline-block;
  border-radius: 50%;
  font-size: 20px;  	
  border-radius: 50%;
	opacity: 0.75;
	transition: opacity 0.15s linear;
}

.share-buttons a:hover {
	opacity: 1;
}

.facebook {
 	background: #3b5998;
}

.twitter {
  	background: #55acee;
}

.email {
  	background: $headerBackground;
}

.linkedin {
  	background: #0077b5;
}

@media only screen and (max-width: 840px), only screen and (max-device-width: 480px) {
  .share-bar {
    width: $websiteMobileWidth;
    margin: 0 auto;
  }

  .share-bar h4 {
	display: none;	
    font-size: 4vw;
  }

  .share-buttons a {
  	width: 8vw;
  	height: 8vw;
  	line-height: 8vw;
  	font-size: $mobileTitleFontSize;
  	margin-left: 0;
  	margin-right: 20px;
  }

  .share-buttons {
  	margin-bottom: 50px;
  }
}