.statement {
	background-color: $headerBackground;
	height: 400px;
}

.statementWrapper {
	width: $websiteDesktopWidth;
	margin: 0 auto;
	height: 400px;
    display:flex;
    align-items: center;  
}

.statement h1 {
	display: inline-block;
	color: $statementText;
	font-weight: 10;  
	font-size: 2rem;
	width: 80%;
}