---
---
<!DOCTYPE html>
	<html>
		<head>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
			<!-- link Lobster -->
			<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">			
			<!-- CDN for Awesome Font -->
			<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
			<!-- JQuery -->
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<!-- JQuery UI -->
			<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" /> 	
			<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
			<!-- JS -->
			<script src="{{ '/assets/js/MobileNav.js' | relative_url }}"></script>
		</head>

		<body >
			{% include header.html %}
			<section class="aboutme">
				<h1>About Me</h1>				
				<img src= "{{'/assets/img/about-me/ganache.png' | relative_url }}" alt="Me!">
				<p>My name is Sylvain and I am a Data Analyts with around 10 years of experience.</p>
				<p>I have been working accross a wide range of industries (Banking, Insurance, Software) as well as undertaking a nice variety of tasks and roles: Data Quality, Analytics, BI, Product Insights and Marketing Analytics.</p>
				<p>This website is a place where I gather all the Python, R and GoogleSheets tricks that I have learned over the years and find very valuable. I tend to use these snippets of code very often and this website is an opportunity to make them available to all interested!</p>
				<p>But there is more. You will find here tools I have built myself: from dealing with surveys or calculating statistical significance for an AB test. There are all sorts of interesting and readily available resources for Data Analyts and Marketers alike.</p>
				<p class="aboutmeclosingstatement">Welcome to my site and I hope you will find something valuable in here!</p>
			</section>
			{% include footer.html %}
		</body>

	</html>
