/* Color palet */
$headerBackground: #464C56; /* Used for header background */
$footerBackground: #464C56; /* Used for footer background */
$contentBackground: #F6F6F6; 
$headerText: #D6D5D6; /* Header text Sylvain Zircher and Menu options */
$footerText: #D6D5D6; /* Footer text Copyright */
$statementText: #D2D2D2;
$brand: #F9D341; /* Yellow used here and there to bring some light */
$border: #EAE3E3; /* Used for borders */
$textColor: #4A4A4A; /* Used for anything related to text */
$highlightBackground: #fdf0f2;
$highlightColor: #a00;
$googleSheets: #1CA362;
$blogCategory: #40C447;


/* Font */
$font: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* Used for sub headers */

/* Sizes */
$websiteDesktopWidth: 80%;
$websiteMobileWidth: 90%;
$blogDesktopWidth: 700px;

/* Desktop */
$desktopTitleFontSize: 2em;
$desktopTitleMargin: 2em;
$desktopParagraphFontSize: 1.2em;
$desktopParagraphLineHeight: 2em;
$desktopParagraphMargin: 3em;

$headerTitleFontSize: 1.6em;
$headerMenuFontSize: 1.2em;
$headerMargin: 1.4em;

/* Ressources Index */
$categoryRessources: 1em;
$titleRessources: 1em;

/* Responsive */
$responsiveMargin: 3em;

/* Mobile */
$mobileTitleFontSize: 4em;
$mobileTitleMargin: 2em;
$mobileParagraphFontSize: 3em;
$mobileParagraphMargin: 3em;
$mobileFooterFontSize: 1em;

$mobileResourcesParagraphFontSize: 2em;
$mobileResourcesCategoryFontSize: 2em;
$mobileResourcesLineHeight: 3em;

$mobileBlogParagraphFontSize: 2em;
$mobileBlogCategoryFontSize: 1.2em;
$mobileBlogLineHeight: 3em;

$mobileMenuMargin: 5em;
$mobileTagHeight: 2em;
$mobileTagWidth: 6em; 

/* Social Sharing */
$sharingHeightResponsive: 4em;
$sharingWidthResponsive: 4em;
$sharingHeightMobile: 2.5em;
$sharingWidthMobile: 2.5em;
$sharingFontMobile: 3em;
$sharingMarginMobile: 1em;


