/* Color palet */
$headerBackground: #464C56; /* Used for header background */
$footerBackground: #464C56; /* Used for footer background */
$contentBackground: #F6F6F6; 
$headerText: #D6D5D6; /* Header text Sylvain Zircher and Menu options */
$footerText: #D6D5D6; /* Footer text Copyright */
$statementText: #D2D2D2;
$brand: #F9D341; /* Yellow used here and there to bring some light */
$border: #EAE3E3; /* Used for borders */
$textColor: #4A4A4A; /* Used for anything related to text */
$highlightBackground: #fdf0f2;
$highlightColor: #a00;
$googleSheets: #1CA362;
$blogCategory: #40C447;


/* Font */
$font: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* Used for sub headers */

/* Sizes */
$websiteDesktopWidth: 80%;
$websiteMobileWidth: 90%;
$blogDesktopWidth: 700px;

$mobileTitleFontSize: 5vw;
$mobileParagraphFontSize: 4vw;
$mobileBlogParagraphFontSize: 3vw;
$mobileParagraphMargin: 10%;
$mobileFooterFontSize: 2vw;
$mobileBlogCategoryFontSize: 2vw;

$mobileMenuMargin: 5%;